schema/addMetaProperty.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:common="http://CommonTypesNamespace/CommonTypes"
           elementFormDefault="qualified">
  <!-- Schema used to validate addMetaProperty directives -->

  <xs:import namespace="http://CommonTypesNamespace/CommonTypes" schemaLocation="commonTypes.xsd"/>

  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="float"      />
      <xs:enumeration value="integer"    />
      <xs:enumeration value="longInteger"/>
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:simpleType name="rank">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="1"/>
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:element name="addMetaProperty">
    <xs:complexType>
      <xs:attribute name="component"   use="required"     />
      <xs:attribute name="name"        use="required"     />
      <xs:attribute name="id"          use="required"     />
      <xs:attribute name="isEvolvable" type="common:yesNo"/>
      <xs:attribute name="isCreator"   type="common:yesNo"/>
      <xs:attribute name="type"        type="type"        />
      <xs:attribute name="rank"        type="rank"        />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
