schema/allocate.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate allocate directives -->

  <xs:element name="allocate">
    <xs:complexType>
      <xs:attribute name="variable" use="required"/>
      <xs:attribute name="size"                   />
      <xs:attribute name="shape"                  />
      <xs:attribute name="rank"                   />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
