schema/deepCopy.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate deepCopy directives -->

  <xs:element name="deepCopy">
    <xs:complexType>
      <xs:attribute name="source"      use="required"/>
      <xs:attribute name="destination" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
