schema/eventHook.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate eventHook directives -->

  <xs:element name="eventHook">
    <xs:complexType>
      <xs:all>
	<xs:element name="import"    minOccurs="0">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element name="module" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
		  <xs:attribute name="name"    use="required"/>
		  <xs:attribute name="symbols"               />
		</xs:complexType>
	      </xs:element>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="interface" type="xs:string" minOccurs="0"/>
	<xs:element name="callWith"  type="xs:string" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
