schema/functionsGlobal.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate functionsGlobal directives -->

  <xs:simpleType name="functionsGlobalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pointers"/>
      <xs:enumeration value="establish"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="functionsGlobal">
    <xs:complexType>
      <xs:attribute name="type" type="functionsGlobalType" use="required"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
