schema/generic.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate generic directives -->

  <xs:element name="generic">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
	<xs:element name="method"   type="xs:string"/>
	<xs:element name="instance"               >
	  <xs:complexType>
	    <xs:attribute name="label"    use="required"/>
	    <xs:attribute name="intrinsic" use="required"/>
	    <xs:anyAttribute processContents="lax"/>
	  </xs:complexType>
	</xs:element>
      </xs:choice>
      <xs:attribute name="name"       />
      <xs:attribute name="identifier" />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
