schema/inputParametersValidate.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate inputParametersValidate directives -->

  <xs:element name="inputParametersValidate" type="xs:string">
    <xs:attribute name="source"          use="required"/>
    <xs:attribute name="multiParameters"               />
    <xs:attribute name="extraAllowedNames"             />
  </xs:element>
  
</xs:schema>
