schema/inputParameter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate inputParameter directives -->

  <!-- Type definition for parameter types -->
  <xs:simpleType name="parameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="real"   />
      <xs:enumeration value="integer"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="string" />
    </xs:restriction>
  </xs:simpleType>

  <!-- Type definition for cardinalities -->
  <xs:simpleType name="cardinality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"   />
      <xs:enumeration value="1"   />
      <xs:enumeration value="2"   />
      <xs:enumeration value="3"   />
      <xs:enumeration value="0..1"/>
      <xs:enumeration value="0..*"/>
      <xs:enumeration value="1..*"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- A numeric bound (minimum/maximum) carrying an optional `inclusive`
       attribute (default "true"); the element text is the bound value. -->
  <xs:complexType name="bound">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="inclusive" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="true" />
              <xs:enumeration value="false"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="inputParameter">
    <xs:complexType>
      <xs:all>
	<xs:element name="name"          type="xs:string"     minOccurs="1" maxOccurs="1"/>
	<xs:element name="source"        type="xs:string"     minOccurs="1" maxOccurs="1"/>
	<xs:element name="variable"      type="xs:string"     minOccurs="0" maxOccurs="1"/>
	<xs:element name="type"          type="parameterType" minOccurs="0" maxOccurs="1"/>
	<xs:element name="description"   type="xs:string"     minOccurs="1" maxOccurs="1"/>
	<xs:element name="cardinality"   type="cardinality"   minOccurs="0" maxOccurs="1"/>
	<xs:element name="defaultValue"  type="xs:string"     minOccurs="0" maxOccurs="1"/>
	<xs:element name="defaultSource" type="xs:string"     minOccurs="0" maxOccurs="1"/>
	<!-- Optional validate-time constraints (enforced by the parameter-file
	     validator; added to directives incrementally). -->
	<xs:element name="minimum"       type="bound"         minOccurs="0" maxOccurs="1"/>
	<xs:element name="maximum"       type="bound"         minOccurs="0" maxOccurs="1"/>
	<xs:element name="allowedValues" type="xs:string"     minOccurs="0" maxOccurs="1"/>
      </xs:all>
      <!-- docformat="rst" marks the description as reStructuredText, rendered
           on ReadTheDocs (see scripts/doc/extractDocsRST.py). -->
      <xs:attribute name="docformat" use="optional"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
