schema/objectDestructor.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate objectDestructor directives -->

  <xs:element name="objectDestructor">
    <xs:complexType>
      <xs:attribute name="name"    use="required"/>
      <xs:attribute name="nullify"               />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
