schema/parameters.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate Galacticus parameter files -->

  <xs:element name="parameters">
    <xs:element name="parameter">
      <xs:complexType>
	<xs:all>
	  <xs:element name="value"      type="xs:string" minOccurs="1"/>
	  <xs:element name="name"       type="xs:string" minOccurs="1"/>
	</xs:all>
      </xs:complexType>
    </xs:element>
  </xs:element>
  
</xs:schema>
