schema/referenceCountIncrement.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate referenceCountIncrement directives -->

  <xs:element name="referenceCountIncrement">
    <xs:complexType>
      <xs:attribute name="object"   use="required"/>
      <xs:attribute name="owner"                 />
      <xs:attribute name="isResult"              />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
