schema/referenceAcquire.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate referenceAcquite directives -->

  <xs:element name="referenceAcquire" type="xs:string">
    <xs:attribute name="target"   use="required"/>
    <xs:attribute name="source"   use="required"/>
    <xs:attribute name="owner"    use="optional"/>
    <xs:attribute name="isResult" use="optional"/>
  </xs:element>
  
</xs:schema>
