schema/referenceConstruct.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate referenceConstruct directives -->

  <xs:element name="referenceConstruct">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="constructor" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="object"         use="required"/>
      <xs:attribute name="owner"          use="optional"/>
      <xs:attribute name="isResult"       use="optional"/>
      <xs:attribute name="nameAssociated" use="optional"/>
      <xs:attribute name="constructor"    use="optional"/>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
