schema/scoping.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate scoping directives -->

  <xs:element name="scoping">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="module" minOccurs="1" maxOccurs="unbounded">
	  <xs:complexType>
	    <xs:attribute name="variables" use="required"/>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
