schema/stateStore.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Schema used to validate stateStore directives -->

  <xs:element name="stateStore">
    <xs:complexType>
      <xs:attribute name="variables" use="required"/>
      <xs:attribute name="store"                  />
      <xs:attribute name="restore"                />
      <xs:attribute name="module"                 />
    </xs:complexType>
  </xs:element>
  
</xs:schema>
